<ng-container *ngIf="personagem() as p">
  <h2>{{ p.name }}</h2>
  <img [src]="p.image" width="200" />
  <p>Status: {{ p.status }}</p>
  <p>Species: {{ p.species }}</p>
  <p *ngIf="p.type">Type: {{ p.type }}</p>
  <p *ngIf="p.gender">Gender: {{ p.gender }}</p>
  <p *ngIf="p.origin">Origin: {{ p.origin?.name }}</p>
  <p *ngIf="p.location">Location: {{ p.location?.name }}</p>
  <div *ngIf="p.episode?.length">
    Episódios:
    <ul>
      <li *ngFor="let ep of p.episode">{{ ep }}</li>
    </ul>
  </div>
  <a routerLink="/personagens">Voltar</a>
</ng-container>
